{#
/**
 * @file
 * Theme implementation for webform element help
 *
 * Available variables
 * - element: form element
 * - help: Help content.
 * - help_icon: Help icon.
 *
 * @see template_preprocess_webform_element_help()
 *
 * @ingroup themeable
 */
#}
{% apply spaceless %}
{{ attach_library('webform/webform.element.help') }}
{# Correction accessibilité : ajout du span cible du aria-describedby. #}
<span{{ attributes }}><span aria-hidden="true">?</span><span id="{{ attributes['aria-describedby'] }}" class="visually-hidden">{{ aria_description }}</span></span>
{% endapply %}
